
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #eef2ff, #f8fafc);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


.navbar {
    background: #4f46e5;
    padding: 15px 20px;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: white;
    font-weight: bold;
}


.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 15px;
}

h2 {
    margin-bottom: 15px;
}


form {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

form input,
form select,
form button,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}


form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    border-color: #4f46e5;
}


form button {
    background: #4f46e5;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background: #4338ca;
}


.form-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


.search-box {
    display: flex;
    background: #e4e6eb;
    border-radius: 30px;
    padding: 10px;
}

.search-box input {
    border: none;
    background: transparent;
    width: 100%;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.no-image {
    height: 180px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card-content {
    padding: 12px;
}

.card-footer {
    margin-top: 10px;
}


.price {
    background: #4f46e5;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}

.free-badge {
    background: green;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}


.heart-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.chat-btn {
    display: inline-block;
    margin-top: 5px;
    color: #4f46e5;
    font-weight: bold;
}


.reset-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4f46e5;
    font-weight: bold;
}


.auth-container {
    max-width: 420px;
    margin: 80px auto;
}

.auth-container form {
    padding: 25px;
    border-radius: 12px;
}

.auth-container input {
    padding: 12px;
}

.auth-container button {
    padding: 12px;
}

.auth-container a {
    color: #4f46e5;
    font-weight: bold;
}


.form-container {
    max-width: 700px;
    margin: 40px auto;
}
